.rotated_a {
  font-size: 90px;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  display: inline-block;
  padding-left: 10px;
}
