<!-- Modal content-->
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">New Playbook</h4>
  </div>
  <div class="modal-body">

    <label>Playbook Name</label>
    <p class="input-group">
      <input type="text" ng-model="newPlaybook.name" class="form-control">
      <span class="input-group-addon">.yml</span>
    </p>

  </div>
  <div class="alert alert-danger" ng-if="err_msg">{{err_msg}}</div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="!newPlaybook.name" ng-click="createPlaybook()">Create <span ng-if="createPlaybookLoading" class="fa fa-spinner fa-spin"></span></button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Close</button>
  </div>
</div>
